@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Fredericka+the+Great|Martel+Sans&display=swap");
html {
  scroll-behavior: smooth;
}

body {
  background-color: #b4ffd8;
  text-align: center;
  margin: 0;
}

.horizontal-line {
  height: 10px;
  background-color: #021529;
  background-image: url("../img/ln-bg.jpg");
  opacity: 0.5;
}

.white-bg-trnsp {
  padding: 40px 50px;
  background: white;
  background-repeat: repeat repeat;
  background-size: cover;
}

.container-header {
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 400;
  font-family: "Fredericka the Great", cursive;
  color: #153e2b;
}

.text {
  font-family: "Fredericka the Great", cursive;
  color: #021529;
  font-size: 18px;
  font-weight: 500;
}

.container {
  margin: 0 auto;
  width: 90%;
  padding: 70px 30px;
}

#content {
  margin-top: 60px;
  position: absolute;
}

#navigation {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #b4ffd8;
  position: fixed;
  z-index: 2;
  width: 100%;
}

#navigation li {
  float: left;
  -webkit-transition: all 50ms ease-in-out;
  transition: all 50ms ease-in-out;
  /* 💡 This small transition makes setting of the active state smooth */
}

#navigation li a {
  display: block;
  text-align: center;
  padding: 16px;
  text-decoration: none;
  font-family: "Fredericka the Great", cursive;
  text-transform: uppercase;
  color: #021529;
  font-size: 26px;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

#navigation li a:hover, #navigation li.active a {
  background-color: #84dcc6;
  display: block;
}

#home, #aboutme, #technology, #contact {
  background-image: url("../img/bg.jpg");
  background-repeat: no-repeat, repeat;
  background-attachment: fixed;
  background-size: cover;
  opacity: 0.9;
}

#tech-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.content-left {
  float: left;
  width: 70%;
  display: inline-block;
  padding-right: 30px;
  text-align: justify;
}

.content-right {
  float: right;
  width: 30%;
  display: inline-block;
}

#home-cont {
  background-image: url("../img/2.jpeg");
  height: 500px;
  background: url("../img/2.jpeg") no-repeat top center scroll;
  background-size: cover;
}

.single-form {
  width: 500px;
  text-align: left;
  margin: 0 auto;
}

.single-form input[type=text], input[type=email], textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  font-family: "Martel Sans", sans-serif;
}

.single-form label {
  font-family: "Fredericka the Great", cursive;
  color: #021529;
  font-size: 18px;
  font-weight: 500;
}

.single-form input[type=submit] {
  background-color: #021529;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  font-weight: 700;
}

.single-form input[type=submit]:hover {
  background-color: #93A7AB;
}

#error {
  color: red;
  padding: 13px 0;
  margin: 15px 0;
  text-align: center;
  font-family: "Fredericka the Great", cursive;
}

#quote-holder {
  border-radius: 5px;
  background-color: #84dcc6;
  padding: 10px;
  width: 100%;
  margin: 0 auto;
}

#quote-header {
  font-family: "Martel Sans", sans-serif;
  color: #153e2b;
}

#quoteBtn {
  background-color: #021529;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  font-weight: 700;
}

#quoteBtn:hover {
  background-color: #93A7AB;
}

blockquote {
  border-left: 5px solid #93A7AB;
  padding-left: 10px;
  margin: 10px;
}
/*# sourceMappingURL=style.css.map */